<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    {{#each category.pois}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          {{location}}
        </td>
        <td>
          {{image}}
        </td>
        <td>
          <a href="/category/{{../category._id}}/deletepoi/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
