<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Test</th>
      <th>Test</th>
      <th>Test</th>
      <th>Test</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody>
    {{#each poi}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          {{category}}
        </td>
        <td>
          {{location}}
        </td>
         <td>
          {{image}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
